#myButton {
  background-color: blue;
  color: white;
  font-size: 16px;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 200px;

}

#input{
  position: absolute;
  left: 50%;
}

#output{
  position: absolute;
  left: 50%;
  top: 40%;
}

